<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }} – {{ site.description }}</title>
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/images/brick-bkg-black-0.40.png">

    {% include meta.html %}

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.toc.js"></script>
    <script src="{{ site.baseurl }}/js/custom.js"></script>

    <!-- Slide Show -->
    <script>
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }
    </script>

    {% if page.use_math %}
        {% include mathjax-support.html %}
    {% endif %}

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css"/>
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }}"
          href="{{ site.baseurl }}/feed.xml"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=PT+Serif:r%7CLibre+Baskerville:r,i,b,bi&amp;subset=latin,latin-ext,latin,latin-ext"
          media="all">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/images/brick-red-v3-113px.png"/>

    {% if page.image %}
      <link rel="shortcut" type="image/png" href="{{ site.baseurl }}{{ page.image }}"/>
    {% else %}
      <link rel="shortcut" type="image/png" href="{{ site.baseurl }}/images/brick-red-v3-113px.png"/>
    {% endif %}
</head>