<div class="wrapper-masthead">
    <div class="container">
        <header class="masthead site-header">

            <!-- Title with background image -->
            <div class="site-info">
                <a class="home-link" href="{{ site.baseurl }}/" title="{{ site.name }}">
                    <h1 class="site-title">{{ site.name }}</h1>
                    <!--<h2 class="site-description">{{ site.time | date: "%A, %B %-d, %Y" }}</h2>-->
                </a>
            </div>

            <!-- Navigation bar -->
            <div id="navbar" class="header-navigation">
                <nav id="site-navigation" class="navigation main-navigation">
                    <h3 class="menu-toggle">Menu</h3>
                    <div class="menu-menu-1-container">
                        <ul id="menu-menu-1" class="nav-menu">
                            <li id="menu-item-1" class="menu-item"><a href="{{ site.baseurl }}/">Home</a></li>
                            <li id="menu-item-2" class="menu-item"><a href="{{ site.baseurl }}/about">About Me</a></li>
                            <li id="menu-item-3" class="menu-item">
                                <a href="{{ site.baseurl }}/blog/archives">Archives</a></li>
                        </ul>
                    </div>

                    <!-- search -->
                    <!--{% if site.simple_search %}-->
                    <!--<form class="search-form" role="search" method="get"  action="{{ site.simple_search }}">-->
                    <!--<label>-->
                    <!--<input class="search-field" type="search"  placeholder="Search &hellip;" value="" name="s"/>-->
                    <!--</label>-->
                    <!--<input class="search-submit" type="submit"  value="Search"/>-->
                    <!--</form>-->
                    <!--{% endif %}-->

                    <!--{% if site.simple_search %}-->
                    <!--<form class="search-form" role="search" method="get" action="{{ site.simple_search }}">-->
                    <!--<fieldset role="search">-->
                    <!--<input type="hidden" name="sitesearch" value="{{ site.url | shorthand_url }}">-->
                    <!--<input class="search" type="text" name="q" results="0" placeholder="Search &hellip;"/>-->
                    <!--</fieldset>-->
                    <!--</form>-->
                    <!--{% endif %}-->
                </nav>
            </div>
        </header>
    </div>
</div>
