---
layout: default
---

<article class="post">
    {% if page.home %}
    <div id="home-nav" class="clearfix nav-slide">
        <div class="work">
            <a class="prev" href="{{ site.baseurl }}/{{page.home}}">
                <span class="slide-wrap">← {{page.home | capitalize}} Home</span>
            </a>
            <p/>
        </div>
    </div>
    {% endif %}

    <div class="container">
        {% for item in page.items %}
        <div class="post-teaser">
            <div class="inventory_info">
                {% if item.image %}
                <div class="inventory_image">
                    <a href="{{ item.image }}" data-lightbox="{{ item.name | replace: ' ', '-' }}"><img src="{{ item.image }}"/></a>
                </div>
                {% endif %}
                <div class="inventory_meta">
                    <h3>{{ item.name }}</h3>
                    <p>Category: {{ item.category }}</p>
                    <p>Manufacturer: {{ item.manufacturer }}</p>
                    {% if item.material %}<p>Material: {{ item.material }}</p>{% endif %}
                    {% if item.year %}<p>Year: {{ item.year }}</p>{% endif %}
                    {% if item.issuer %}<p>Issuer: {{ item.issuer }}</p>{% endif %}
                    {% if item.note %}
                        <p>Note: </p>
                        <ul>
                        {% for note in item.note %}
                            <li>{{ note }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% include pagination.html %}
</article>